* { margin: 0; padding: 0; box-sizing: border-box; text-decoration: none; }

body{
    background-color: #000000;
}
/*  Nav bar started here */

nav{
    background: #000000;
    height: 5vw;
    width: 100%;
    position: fixed;
    z-index: 15;
}

.logo{
    height: 100%;
}

.topnav{
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
}

nav .topnav a{
    display: inline-block;
    margin: 1.5vw 5px;
}

nav .topnav a{
    color: white;
    font-size: 1.2vw;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: 'Balsamiq Sans', cursive;
  
}

nav .topnav a:hover{
    background: #1b9bff;
    transition: .3s;
}

nav .topnav .icon {
    display: none;
    font-size: 4vw;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
}
  
@media screen and (max-width: 1100px){
    nav{
        background: #000000;
        height: 7vw;
        width: 100%;
        position: fixed;
        z-index: 15;
    }
    .logo{
      height: 100%;
    }
    nav .topnav a{
      font-size: 1.5vw;
    }

    nav .topnav a{
        margin: 3vw 5px;
    }

}
  
@media screen and (max-width: 870px){
    nav{
        background: #000000;
        height: 13vw;
        width: 100%;
        position: fixed;
        z-index: 15;
    }
    .logo{
        height: 100%;
    }
    
    .show{
        top: 20vw;
    }

    nav .topnav a{display: none;}

    .topnav a.icon {
        float: right;
        display: block;
        margin: 0;
    }
    
    .topnav.responsive {
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: rgb(47, 62, 88);
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a:not(:first-child) {
        float: none;
        display: block;
        text-align: center;
        width: 60vw;
        height: 10vw;
        font-size: 7vw;
        background-color: rgb(47, 62, 88);
        padding: 1vw;
        position: relative;
        top: 10vw;
        color: white;
        font-weight: 600;
    }
    
    #conts{
        display: flex;
        flex-direction: column;
        margin-top: 2vw;
        margin-left: 3vw;
    }
    #but{
        width: 67vw;
        height: 8.3vw;
        border-radius: 15px;
        border: 0 solid;
        font-size: 5vw;
        margin: 1vw auto;
    }
    #contacts h1{
        color: rgb(219, 228, 140);
        text-align: center;
        font-size: 11vw;
        font-family: 'Dosis', sans-serif;
        display: block;
    }

    #form-group, #name2, #email2, #phone2, #message2{
        font-size: 4vw;
    }
    
    #my-form{
        padding-left: 7vw;
        padding-right: 1vw;
        color: rgb(219, 228, 140);
        font-size: 4vw;
        font-family: 'Dosis', sans-serif;
        display: block;
        margin-top: 2vw;
    }

    #contacts{
        width: 100%;
        margin: 1.3vw 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #name, #email, #phone, #message{
        font-size: 3vw;
        width: 47vw;
    }

    #my-form-button{
        font-size: 5vw;
        width: 20vw;
        height: 7vw;
    }

    #message{
        height: 20vw;
    }
    #message2{
        bottom: 15vw;
    }

    #review1, #review2, #review3{
        width: 77vw;
        height: 50vw;
        font-size: 3vw;
    }

    #review1 h1, #review2 h1, #review3 h1{
        font-size: 4vw;
    }
}
  
/*   nav bar is ending over here */

/*  Main div is starting here  */

.main {
    width: 100%;
    /*background-image: url(./img/milky-way-2750627_1920.jpg);*/
}

#video{
    width: 100%;
    height: 100%;
}

.show{
    display: flex;
    position: absolute;
    top: 13vw;
    left: 2vw;
    flex-direction: column;
    font-family: 'Rubik Mono One', sans-serif;
    color: white;
}

.show1{font-size: 6vw;}

.start{
    margin-top: 3%;
    font-size: 1.2vw;
    color: white;
    font-family: 'Rubik Mono One', sans-serif;
    margin-left: 1%;
}

.cont1{
    margin: 0.7vw;
    font-size: 1.5vw;
    padding: 0.4vw;
    border-radius: 10px;
    border: 0px solid;
    background-color: rgb(236, 241, 184);
}

.cont2{
    margin: 0.7vw;
    font-size: 1.5vw;
    padding: 0.4vw;
    border-radius: 10px;
    border: 0px solid;
    background-color: rgb(81, 205, 50);
   
}

.cody{
    width: 80%;
    border-top: 1px solid white;
    margin: 5vw auto;
}

.cod{
    display: inline-block;
    width: 26vw;
    height: auto;
    float: right;
    margin: 3vw 2vw;
    padding-top: 2vw;
}

.thought{
    display: inline-block;
    height: 30vw;
    width: auto;
    float: left;
}

.head1{
    font-family: 'Secular One', sans-serif;
    color: white;
    margin: 4% auto;
    width: 80%;
    display: flex;
    justify-content: center;
    padding-top: 5vw;
    border-top: 1px solid white;
    font-size: 4.5vw;
}

.para1{
    width: 90%;
    display: flex;
    justify-content: center;
    margin: 0.3vw auto;
    font-size: 2.7vw;
    color: white;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    padding-bottom: 6vw;
    border-bottom: 1px solid white;
}

.course_head{
    font-size: 5vw;
    color: white;
    text-align: center;
    margin-top: 2vw;
    margin-bottom: 4vw;
    font-family: 'Rubik Mono One', sans-serif;
}

.course{
    width: 100%;
    height: 53vw;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-evenly;
    padding-top: 1.5vw;
    text-align: center;
    perspective: 1000px;
}

.back-content{
    font-family: 'Sansita Swashed', cursive;
    font-size: 1.5vw;
    padding-top: 1vw;
}

.back-content span{
    font-size: 1.5vw;
}

.card{
    display: inline-block;
    width: 23vw;
    justify-content: center;
    align-items: center;
    height: 23vw;
}

.middel{
    position: absolute;
    border-radius: 30px;
    width: 23vw;
    height: 23vw;
    justify-content: center;
    align-items: center;
    left: 1%;
}

.front, .back{
    backface-visibility: hidden;
    position: absolute;
    transition: transform 0.3s linear;
}

.front img{
    width: 100%;
    border-radius: 30px;
}

.front{
    transform: perspective(600px) rotateY(0deg);
}

.back{
    background: white !important;
    color: white;
    left: 0;
    top: 0;
    align-items: center;
    transform: perspective(600px) rotateY(180deg);
}

.card:hover > .front{
    transform: perspective(600px) rotateY(-180deg);
}

.card:hover > .back{
    background-color: white;
    transform: perspective(600px) rotateY(0deg);
}

.card1{
    display: inline-block;
    width: 23vw;
    justify-content: center;
    align-items: center;
    height: 23vw;
}

.middel1{
    position: absolute;
    border-radius: 30px;
    width: 23vw;
    height: 23vw;
    justify-content: center;
    align-items: center;
    left: 25%;
}

.front1, .back1{
    backface-visibility: hidden;
    position: absolute;
    transition: transform 0.3s linear;
}

.front1 img{
    width: 100%;
    border-radius: 30px;
}

.front1{
    transform: perspective(600px) rotateY(0deg);
}

.back1{
    background: white !important;
    color: white;
    left: 0;
    top: 0;
    align-items: center;
    transform: perspective(600px) rotateY(180deg);
}

.card1:hover > .front1{
    transform: perspective(600px) rotateY(-180deg);
}

.card1:hover > .back1{
    background-color: white;
    transform: perspective(600px) rotateY(0deg);
}

.card2{
    display: inline-block;
    width: 23vw;
    justify-content: center;
    align-items: center;
    height: 23vw;
}

.middel2{
    position: absolute;
    border-radius: 30px;
    width: 23vw;
    height: 23vw;
    justify-content: center;
    align-items: center;
    left: 50%;
}

.front2, .back2{
    backface-visibility: hidden;
    position: absolute;
    transition: transform 0.3s linear;
}

.front2 img{
    width: 100%;
    border-radius: 30px;
}

.front2{
    transform: perspective(600px) rotateY(0deg);
}

.back2{
    background: white !important;
    color: white;
    left: 0;
    top: 0;
    align-items: center;
    transform: perspective(600px) rotateY(180deg);
}

.card2:hover > .front2{
    transform: perspective(600px) rotateY(-180deg);
}

.card2:hover > .back2{
    background-color: white;
    transform: perspective(600px) rotateY(0deg);
}

.card3{
    display: inline-block;
    width: 23vw;
    justify-content: center;
    align-items: center;
    height: 23vw;
}

.middel3{
    position: absolute;
    border-radius: 30px;
    width: 23vw;
    height: 23vw;
    justify-content: center;
    align-items: center;
    left: 75%;
    
}

.front3, .back3{
    backface-visibility: hidden;
    position: absolute;
    transition: transform 0.3s linear;
}

.front3 img{
    width: 100%;
    border-radius: 30px;
}

.front3{
    transform: perspective(600px) rotateY(0deg);
}

.back3{
    background: white !important;
    color: white;
    left: 0;
    top: 0;
    align-items: center;
    transform: perspective(600px) rotateY(180deg);
}

.card3:hover > .front3{
    transform: perspective(600px) rotateY(-180deg);
}

.card3:hover > .back3{
    background-color: white;
    transform: perspective(600px) rotateY(0deg);
}

.card4{
    display: inline-block;
    width: 23vw;
    justify-content: center;
    align-items: center;
    height: 23vw;
    position: absolute;
    top: 28vw;
}

.middel4{
    position: absolute;
    border-radius: 30px;
    width: 23vw;
    height: 23vw;
    justify-content: center;
    align-items: center;
    left: 20%;    
}

.front4, .back4{
    backface-visibility: hidden;
    position: absolute;
    transition: transform 0.3s linear;
}

.front4 img{
    width: 100%;
    border-radius: 30px;
}

.front4{
    transform: perspective(600px) rotateY(0deg);
}

.back4{
    background: white !important;
    color: white;
    left: 0;
    top: 0;
    align-items: center;
    transform: perspective(600px) rotateY(180deg);
}

.card4:hover > .front4{
    transform: perspective(600px) rotateY(-180deg);
}

.card4:hover > .back4{
    background-color: white;
    transform: perspective(600px) rotateY(0deg);
}

.card5{
    display: inline-block;
    width: 23vw;
    justify-content: center;
    align-items: center;
    height: 23vw;
    position: absolute;
    top: 28vw;
}

.middel5{
    position: absolute;
    border-radius: 30px;
    width: 23vw;
    height: 23vw;
    justify-content: center;
    align-items: center;   
    left: 53%;
}

.front5, .back5{
    backface-visibility: hidden;
    position: absolute;
    transition: transform 0.3s linear;
}

.front5 img{
    width: 100%;
    border-radius: 30px;
}

.front5{
    transform: perspective(600px) rotateY(0deg);
}

.back5{
    background: white !important;
    color: white;
    left: 0;
    top: 0;
    align-items: center;
    transform: perspective(600px) rotateY(180deg);
}

.card5:hover > .front5{
    transform: perspective(600px) rotateY(-180deg);
}

.card5:hover > .back5{
    background-color: white;
    transform: perspective(600px) rotateY(0deg);
}

.event{
    display: flex;
    margin-top: 5px;
    width: 100%;
    height: 40vw;
    justify-content: space-evenly;
    align-items: center;
}

.event1{
    font-family: 'Secular One', sans-serif;
    display: inline-block;
    width: 30vw;
    height: 33vw;
    background-color: #3f3f3f;
    border-radius: 20px;
    color: white;
    justify-content: center;
    text-align: center;
    padding-top: 1vw;
    font-size: 1.3vw;
    
}

.event2{
    font-family: 'Secular One', sans-serif;
    display: inline-block;
    width: 30vw;
    height: 33vw;
    background-color: #3f3f3f;
    border-radius: 20px;
    color: white;
    justify-content: center;
    text-align: center;
    padding-top: 1vw;
    font-size: 1.3vw;
}

.event3{
    font-family: 'Secular One', sans-serif;
    display: inline-block;
    width: 30vw;
    height: 33vw;
    background-color: #3f3f3f;
    border-radius: 20px;
    color: white;
    justify-content: center;
    text-align: center;
    padding-top: 1vw;
    font-size: 1.3vw;
}

#review1{
    font-family: 'Secular One', sans-serif;
    width: 45%; 
    height: 28vw; 
    border-radius: 25px; 
    margin: auto; 
    margin-top: 3vw;
    background-color: white !important;
    padding: 2vw;
    text-align: center;   
    font-size: 1.6vw; 
}

.rate{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5vw;
}

.h1{
    display: flex;
    float: left;
    margin-left: 3vw;
}

.rate1{
    display: flex;
    width: 9vw;
    height: 0.5vw;
    background-color: orange;
    border-radius: 25px;
    z-index: 2;
    margin-left: 2vw;
}

.background1{
    display: flex;
    position: relative;
    width: 10vw;
    height: 0.5vw;
    background-color: grey;
    border-radius: 25px;
    left: -9vw;
}

.h{
    display: flex;
    position: relative;
    left: -5.5vw;
}

#review2{
    font-family: 'Secular One', sans-serif;
    width: 45%; 
    height: 28vw; 
    border-radius: 25px; 
    margin: auto; 
    margin-top: 3vw;
    background-color: white !important;
    padding: 2vw;
    text-align: center;   
    font-size: 1.6vw;
}

.rate2{
    display: flex;
    width: 10vw;
    height: 0.5vw;
    background-color: orange;
    border-radius: 25px;
    z-index: 2;
    margin-left: 2vw;
}

.background2{
    display: flex;
    position: relative;
    width: 10vw;
    height: 0.5vw;
    background-color: grey;
    border-radius: 25px;
    left: -10vw;
}

#review3{
    font-family: 'Secular One', sans-serif;
    width: 45%; 
    height: 28vw; 
    border-radius: 25px; 
    margin: auto; 
    margin-top: 3vw;
    background-color: white !important;
    padding: 2vw;
    text-align: center;   
    font-size: 1.6vw;
}

.rate3{
    display: flex;
    width: 8vw;
    height: 0.5vw;
    background-color: orange;
    border-radius: 25px;
    z-index: 2;
    margin-left: 2vw;
}

.background3{
    display: flex;
    position: relative;
    width: 10vw;
    height: 0.5vw;
    background-color: grey;
    border-radius: 25px;
    left: -8vw;
}

.contact{
    width: 100%;
    
    margin: 1.3vw 0;
    display: block;
}


.contact h1{
    color: rgb(219, 228, 140);
    text-align: center;
    font-size: 6vw;
    font-family: 'Dosis', sans-serif;
    display: block;
}

.formspree-form{
    padding-left: 7vw;
    padding-right: 1vw;
    color: rgb(219, 228, 140);
    font-size: 2vw;
    font-family: 'Dosis', sans-serif;
    display: inline-block;
    border-right: 1px solid rgb(219, 228, 140);
}

.name{
    font-size: 2vw;
}

.name1{
    font-size: 2vw;
    color: rgb(219, 228, 140);
    background-color: rgba(0,0,0,0);
    border-bottom: 1px solid rgb(219, 228, 140);
    border-top: 0px solid rgb(219, 228, 140);
    border-left: 0px solid rgb(219, 228, 140);
    border-right: 0px solid rgb(219, 228, 140);
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 3px;
}

.email1{
    font-size: 2vw;
    color: rgb(219, 228, 140);
    background-color: rgba(0,0,0,0);
    border-bottom: 1px solid rgb(219, 228, 140);
    border-top: 0px solid rgb(219, 228, 140);
    border-left: 0px solid rgb(219, 228, 140);
    border-right: 0px solid rgb(219, 228, 140);
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 3px;    
}

.phone1{
    font-size: 2vw;
    color: rgb(219, 228, 140);
    background-color: rgba(0,0,0,0);
    border-bottom: 1px solid rgb(219, 228, 140);
    border-top: 0px solid rgb(219, 228, 140);
    border-left: 0px solid rgb(219, 228, 140);
    border-right: 0px solid rgb(219, 228, 140);
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 3px;
}

.message{
    display: inline-block;
    position: relative;
    bottom: 8vw;

}

.message1{
    display: inline-block;
    font-size: 2vw;
    color: rgb(219, 228, 140);
    background-color: rgba(0,0,0,0);
    border-bottom: 1px solid rgb(219, 228, 140);
    border-top: 1px solid rgb(219, 228, 140);
    border-left: 1px solid rgb(219, 228, 140);
    border-right: 1px solid rgb(219, 228, 140);
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 3px; 
    height: 10vw;
    width: 30vw;
    border-radius: 5px;
}

.submit{
    margin: 20px 40px;
    width: 9vw;
    height: 4vw;
    font-size: 2vw;
    cursor: pointer;
    border-radius: 25px;
    border: 1px solid rgb(219, 228, 140);
    color: rgb(219, 228, 140);
    background-color: rgba(0, 0, 0, 0);
}

.conts{
    display: flex;
    float: right;
    flex-direction: column;
    margin-right: 13vw;
    margin-top: 5vw;
}
.conts1{
    width: 17vw;
    height: 3.5vw;
    border-radius: 15px;
    border: 0 solid;
    font-size: 1.2vw;
    margin: 1.5vw;
}

footer {
    width: 100%;
    height: 10vw;
    margin-top: 5vw;
    display: block;
}
#foot {
    width: 70%;
    margin: 30px auto;
    text-align: center;
    color: white;
    font-size: 1.5vw;
}
.fa {
    margin: 20px 3vw;
}
.foot p a {
    color: yellow;
    background-color: yellow;
}

#facebook{
    color: white;
    display: inline-block;
}

#facebook:hover{
    color: rgb(26, 58, 219);
}

#instagram{
    color: white;
    display: inline-block;
}

#instagram:hover{
    color: rgb(220, 82, 255)
}

#youtube{
    color: white;
    display: inline-block;
}

#youtube:hover{
    color: rgb(255, 16, 16);
}

#twitter{
    color: white;
    display: inline-block;
}

#twitter:hover{
    color: rgb(0, 110, 255);
}


/* ================================ CAROUSEL - SLIDER ================================= */

.container{
    margin-top: 4vw;
}

.carousel{
    position:relative;
    overflow: hidden;
}

.carousel-inner{
    width: 100%;
    overflow: hidden;
    height: 35vw;
}

.carousel-inner>.item{
    position:relative;
    display:none;
    -webkit-transition:.6s ease-in-out left;
    -o-transition:.6s ease-in-out left;
    transition:.6s ease-in-out left;
}

.carousel-inner>.item>a>img,.carousel-inner>.item>img{
    line-height:1
}

@media all and (transform-3d),(-webkit-transform-3d){
    .carousel-inner>.item{
        -webkit-transition:-webkit-transform .6s ease-in-out;
        -o-transition:-o-transform .6s ease-in-out;
        transition:-webkit-transform .6s ease-in-out;
        transition:transform .6s ease-in-out;
        transition:transform .6s ease-in-out, -webkit-transform .6s ease-in-out, -o-transform .6s ease-in-out;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-perspective:1000px;
        perspective:1000px;
        transition-timing-function: 2s;
    }
    
    .carousel-inner>.item.active.right,.carousel-inner>.item.next{
        -webkit-transform:translate3d(100%,0,0);
        transform:translate3d(100%,0,0);
        left:0
    }
    
    .carousel-inner>.item.active.left,.carousel-inner>.item.prev{
        -webkit-transform:translate3d(-100%,0,0);
        transform:translate3d(-100%,0,0);
        left:0
    }
    
    .carousel-inner>.item.active,.carousel-inner>.item.next.left,.carousel-inner>.item.prev.right{
        -webkit-transform:translate3d(0,0,0);
        transform:translate3d(0,0,0);
        left:0
    }
}

.carousel-inner>.active,.carousel-inner>.next,.carousel-inner>.prev{
    display:block;
}

.carousel-inner>.active{
    left:0
}

.carousel-inner>.next,.carousel-inner>.prev{
    position:absolute;
    top:0;
    width:100%;
}

.carousel-inner>.next{
    left:100%
}

.carousel-inner>.prev{
    left:-100%
}

.carousel-inner>.next.left,.carousel-inner>.prev.right{
    left:0
}

.carousel-inner>.active.left{
    left:-100%
}

.carousel-inner>.active.right{
    left:100%
}

.carousel-control{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    width:15%;
    font-size:20px;
    color:#fff;
    text-align:center;
    text-shadow:0 1px 2px rgba(255,255, 255,.6);
    background-color:rgba(255,255, 255,0);
    filter:alpha(opacity=50);
    opacity:.5
}

.carousel-control.left{
    background-image: url("./img/left.png");
    background-position: center;
    background-size: cover;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat:repeat-x;
    
}

.carousel-control.right{
    right:0;
    left:auto;
    background-image: url("./img/right.png");
    background-position: center;
    background-size: cover;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat:repeat-x;
    
}

.carousel-control:focus,.carousel-control:hover{
    color:#fff;
    text-decoration:none;
    outline:0;
    filter:alpha(opacity=90);
    opacity:.9
}

.carousel-control .glyphicon-chevron-left,.carousel-control .glyphicon-chevron-right,.carousel-control .icon-next,.carousel-control .icon-prev{
    position:absolute;
    top:50%;
    z-index:5;
    display:inline-block;
    margin-top:-10px
}

.carousel-control .glyphicon-chevron-left,.carousel-control .icon-prev{
    left:50%;
    margin-left:-10px
}

.carousel-control .glyphicon-chevron-right,.carousel-control .icon-next{
    right:50%;
    margin-right:-10px
}

.carousel-control .icon-next,.carousel-control .icon-prev{
    width:20px;
    height:20px;
    font-family:serif;
    line-height:1
}

.carousel-control .icon-prev:before{
    content:"\2039"
}

.carousel-control .icon-next:before{
    content:"\203a"
}

.carousel-indicators{
    position:absolute;
    bottom:10px;
    left:50%;
    z-index:9;
    width:60%;
    padding-left:0;
    margin-left:-30%;
    text-align:center;
    list-style:none
}

.carousel-indicators li{
    display:inline-block;
    width:0.7vw;
    height:0.7vw;
    margin:1px;
    text-indent:-999px;
    cursor:pointer;
    background-color:#000;
    background-color:rgba(0,0,0,0);
    border:1px solid #fff;
    border-radius:10px
}

.carousel-indicators .active{
    width:0.9vw;height: 0.9vw;
    margin:0;background-color:#fff
}
